= form_for category do |f|
  - if category.errors.any?
    #error_explanation
      %h2= "#{pluralize(category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - category.errors.full_messages.each do |msg|
          %li= msg

  .col-md-7
    = f.text_field :name, class: 'form-control', placeholder: 'Category name'
  .col-md-1
    = f.submit 'Save', class: 'btn btn-default'
