.panel.panel-default
  .row
    .col-md-4.col-md-offset-2
      %h1 Listing categories
    %br
    .col-md-2.col-md-offset-3
      - if can? :new, Category
        = link_to 'New Category', new_category_path, class: 'btn btn-default'

  %br

  .row
    .col-md-10.col-md-offset-1
      %table.table.table-striped
        %tr
          %th.col-md-7.text-center Name
          %th.col-md-5.text-center Actions

        - categories.each do |category|
          %tr
            %td.text-center= category.name
            %td.text-center
              = link_to 'Show', category, class: 'btn btn-default btn-xs'
              - if can? :edit, Category
                = link_to 'Edit', edit_category_path(category), class: 'btn btn-primary btn-xs'
              - if can? :destroy, Category
                = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
