%dl.dl-horizontal
  %dt Title:
  %dd= product.title

  %dt Description:
  %dd= product.description

  %dt Price:
  %dd= number_to_currency(product.price, unit: '€')

  %dt Average Rating:
  %dd
    %span.badge= number_with_precision(product.average_rating, precision: 2)

  %dt Category
  %dd= product.category.name

- if user_signed_in?
  %h3 Add new review
  = render 'reviews/form'

%h3 Reviews
= render reviews

%br
%br

= link_to 'Back to list', category_products_path, class: 'btn btn-primary'
- if can? :edit, product
  \|
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-default'
