%dl.dl-horizontal
  %dt Title:
  %dd= product.title

  %dt Description:
  %dd= product.description

  %dt Price:
  %dd= product.price

  %dt Average Rating:
  %dd= product.average_rating

  %dt Category
  %dd= product.category.name

%h3 Reviews
= render reviews

= render 'reviews/form'

- if can? :edit, Category
  = link_to 'Edit', edit_category_product_path(category.id, product.id)
  \|
= link_to 'Back', category_products_path, class: 'btn btn-primary'
